@model AgendaTelefonicaWeb.Models.Contato

@{
    ViewData["Title"] = "Excluir Contato";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<h3>Certeza que deseja deletar esse contato?</h3>
<div>
    <h4>Contato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idade)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary"> Voltar </a>
    </form>
</div>
